**/node_modules/

docs/.vuepress/.cache
docs/.vuepress/.temp
docs/.vuepress/dist

lib/
dist/

.DS_Store

*.log
*.tsbuildinfo
.mind

coverage/
.idea/encodings.xml
.idea/git_toolbox_prj.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/vuepress-theme-plume.iml
.idea/workspace.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/.gitignore
